	html {
	background-color: #E0DBD1;
	color: #35230F;
	}

	html {
	font: 1.2rem "Consolas", sans-serif;
	}	
	a:special {
		color: #35230F;
	}
	a:link {
		color: #35230F;
	}
	a:visited {
		color: #1a450a;
	}

	nav {
	font-size: 20px;
	}
